.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

//logo
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.logo-icon {
    height: 80px;
    width: auto;
    margin-right: 10px;
    object-fit: contain;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.logo-text {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin: 0;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}

//action
.action {
    display: flex;
    align-items: center;
}

.more-icon {
    font-size: 2rem;
    margin-left: 24px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    color: #161823;
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}